{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{name}}{% endblock %}

{% block head %}
{{ super() }}
<style>
td .field{
    width: 80px;
    text-align: center;
}
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{name}}</h1>
    <br>
    <h4>{{form_in.comment}}</h4>
</div>

<div class="row">
    {{ wtf.quick_form(form_in) }}
</div>
<hr />
<div class="row">
<ul class="list-group">
    {% for item in results %}
    <li class="list-group-item">
        <div class="file_info">
            <table border="0" >
            <tr>
            <td><img src="{{url_for('.first_page', id=item['_id'])}}" alt="Big Boat" width="90" height="120"></td>
            <td>
                <table border="0" >
                <tr><td class="field">标 题：</td><td><a href="{{url_for('.download', id=item['_id'])}}">{{ item['file_name'] }}</a></td></tr>
                <tr><td class="field">作 者：</td><td>{{ item['author'] }}</td></tr>
                <tr><td class="field">年 份：</td><td>{{ item['year'] }}</td></tr>
                <tr><td class="field">大 小：</td><td>{{ item['file_size'] }}Kb</td></tr>
                </table>
             </td>
            </tr>
            </table>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}